<h1>Tracking consegna</h1>

<form [formGroup]="form" (ngSubmit)="search()">

  <input
    type="text"
    formControlName="chiaveConsegna"
    placeholder="Chiave tracking">

  <input
    type="date"
    formControlName="dataRitiro">

  <button type="submit">
    Cerca
  </button>

</form>

<div *ngIf="result">

  <h3>Stato:</h3>
  <p>{{ result.stato }}</p>

  <p>Ritiro: {{ result.dataRitiro }}</p>

  <p *ngIf="result.dataConsegna">
    Consegna: {{ result.dataConsegna }}
  </p>

</div>

<div *ngIf="error">
  {{ error }}
</div>